{% extends "include/base.html" %}
{% load static %}
{% block title %}
    <title>BINLOG PARSE</title>
{% endblock %}
{% block name %}



    欢迎使用<span style="color:red">BINLOG解析</span>功能
{% endblock %}

{%block db_content%}


        <form role="form" method='post'>
            {% csrf_token %}
        <input hidden id="id_t" name="t">
        <input hidden id="id_be" name="be">
{#            {% include "include/sidebar.html" %}#}

      <div class="col-md-2 no-padding" >
           <div class="box box-primary col-md-12 no-padding">
           <div class="box-header with-border">
                  <h4 class="box-title">Binlog Parser First</h4>
           </div>
              <div class="box-body">

                            <div class="col-md-12 no-padding ">
                             <div class="form-group">
                              <label for="id_select_group" style="margin-top: 10px">Group:</label>
                                 <select id="id_select_group" onchange="change_group(-1,{{ select_group|default:0 }},'{{ select_host|default:0 }}')" class="form-control col-md-12"  name = "select_group">
                                    <option value ="" selected disabled >---Select Host Group---</option>
                                        {% for group in host_group %}
                                            {% if group.id == select_group %}
                                                <option selected="selected" value ="{{ group.id }}">{{ group.name }}</option>
                                            {% else %}
                                                <option value ="{{ group.id }}">{{ group.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                             </div>
                        </div>


                     <div class="col-md-12 no-padding" style="margin-top: 10px">
                              <div class="form-group">
                                <label for="select_host" >Instance:</label>
                                 <select  id="select_host" class="form-control col-md-12" name = "ins_set">
                                    <option value ="" selected disabled >---Select Host ---</option>
                                </select>
                              </div>
                            </div>


                     <div class="col-md-12 no-padding text-center" style="margin-top: 10px">

                              <button name="show_binary" class="btn btn-primary" style="width: 100%" value="1">show binary logs and DB</button >
                              <button name="show_binary_datetime" onclick="load()" class="btn btn-danger" style="margin-top: 10px;width: 100%" value="1">Analyze binlog datetime</button >

                     </div>
                    </div>
              </div>
                </div>

        <div class="col-md-10 " >
           <div class="box box-primary col-md-12 no-padding">
                <div class="box-header with-border">
                  <h4 class="box-title">Binlog Parser Second</h4>
                </div>
            <!-- /.box-header -->
            <!-- form start -->

              <div class="box-body ">

                        <div class="row">

                            <div class="col-md-3  ">
                                 <div class="form-group">
                                  <label for="id_binary_start" style="margin-top: 10px">Start Binlog:</label>
                                    <select id="id_binary_start" class="form-control col-md-3" name = "binary_list_start">
                                    <option selected="selected" disabled >----Select start of binlog</option>
                                        {% for obj in binlist %}
                                            {% if  binname_start in obj %}
                                                <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                            {% else %}
                                                <option onmouseover="tooltip(this)" onmouseout="nodisplay()" onclick="nodisplay()" title='fdssssssssssssssssssssssssssssssssssssssss' value ="{{ obj }}" >{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          <div class="col-md-3  ">
                                 <div class="form-group">
                                  <label for="id_binary_end" style="margin-top: 10px">End Binlog:</label>
                                    <select id="id_binary_end" class="form-control col-md-3" name = "binary_list_end">
                                    {% if be %}
                                        {{ be|safe }}
                                    {% else %}
                                    <option selected="selected"  value="0">----Select end of binlog----</option>
                                        {% for obj in binlist %}
                                            {% if  binname_end in obj and binname_end != '0' %}
                                                <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                            {% else %}
                                                <option disabled value ="{{ obj }}" >{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}
                                 {% endif %}
                                                                        </select>

                                </div>
                            </div>
                            <div class="col-md-3  ">
                                <div class="form-group">
                                 <label for="id_dblist" style="margin-top: 10px">DB:</label>
                                 <select  id="id_dblist" onchange="Change()" class="form-control col-md-3" name = "dblist">
                                 <option selected value="0" >----ALL----</option>
                                    {% for obj in dblist %}
                                        {% if obj == dbselected %}
                                            <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                        {% else %}
                                            <option value ="{{ obj }}" >{{ obj }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                               </div>
                            </div>
                            <div class="col-md-3  ">
                                 <div class="form-group">
                                     <label for="id_tblist" style="margin-top: 10px">TABLE:</label>

                                       <select  id="id_tblist" class="form-control col-md-3" name = "tblist">
                                           {% if t %}
                                               {{ t|safe }}
                                           {% else %}
                                           <option selected value="0" >----ALL----</option>
                                            {% for obj in tblist %}
                                                {% if obj == dbselected %}
                                                <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                            {% else %}
                                                <option value ="{{ obj }}" >{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}
                                           {% endif %}
                                </select>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 19px">

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="id_begin_time" >BEGIN_TIME:</label>
                                    {% if begintime %}
                                        <input type="text" id="id_begin_time"  value="{{ begintime }}" class="form-control" maxlength="30" name="begin_time">
                                    {% else %}
                                        <input type="text" id="id_begin_time"  class="form-control" maxlength="30" name="begin_time">

                                    {% endif %}
                              </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                     <label for="id_begin_time" >END_TIME:</label>
                                            {% if endtime %}
                                                <input type="text" id="id_end_time"  value="{{ endtime }}" class="form-control" maxlength="30" name="end_time">
                                            {% else %}
                                                <input type="text" id="id_end_time"  class="form-control" maxlength="30" name="end_time">

                                            {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                  <div class="form-group">
                             <label for="id_countnum" >解析条数:</label>
                                    <select id="id_countnum" class="form-control col-md-3" name = "countnum">
                                        {% if countnum == 10 %}
                                            <option selected="selected" value =10 >10</option>
                                        {% else %}
                                            <option value =10 >10</option>
                                        {% endif %}
                                        {% if countnum == 50 %}
                                            <option selected="selected" value =50 >50</option>
                                        {% else %}
                                            <option value =50 >50</option>
                                        {% endif %}
                                        {% if countnum == 200 %}
                                            <option selected="selected" value =200 >200</option>
                                        {% else %}
                                            <option value =200 >200</option>
                                        {% endif %}

                                    </select>
                         </div>
                            </div>


                         <div class="col-md-3">
                                  <div class="form-group">
                             <label for="id_stopnever" >StopNever:</label>
                                    <select id="id_stopnever" class="form-control col-md-3" name = "stopnever">
                                        {% if stopnever == 'True' %}
                                            <option selected="selected" value ='true' >True</option>
                                            <option value ='false' >False</option>
                                        {% else %}
                                            <option selected="selected" value ='false' >False</option>
                                            <option value ='true' >True</option>
                                        {% endif %}

                                    </select>
                         </div>
                            </div>


                        </div>
                        <div class="row" style="margin-top: 20px">

                            <div class="col-md-3 " >
                               <button title="只看binlog选择项，其它选项无视" onclick="save_t()" name="parse_first" style="margin-top: 5px" class="btn btn-default col-md-12" value="1">查看解析前5条</button >
                            </div>
                            <div class="col-md-3 " >
                                <button id="parse_binlog" style="margin-top: 5px" name="parse"  onclick="save_t()"  class="btn btn-success col-md-12" value="1">PARSE BINLOG FOR REDO</button >
                            </div>
                            <div class="col-md-3 " >
                                <button name="parse_undo"  style="margin-top: 5px"  onclick="save_t()"  class="btn btn-danger col-md-12" value="1">PARSE BINLOG FOR UNDO</button >
                            </div>
                        </div>

              </div>

        </div>
         </div>
        </form >

        <div class="col-md-12" >
            {% if info %}
                <span style="color:red">{{ info }}</span>
            {% endif %}
        </div>



           <div class="box box-primary col-md-12 no-padding" style="overflow: auto">
           <div class="box-header with-border">
                  <h4 class="box-title">Result</h4>
           </div>
              <div class="box-body">

        <table  class="table table-condensed" border="1">
        <tr>
            <th>ID</th>
            <th  align="center">Data</th>
        </tr>
            {% for i in sqllist %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <pre>{{ i }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
           </div>


    {#    <button id="dict"  class="btn btn-success" value="1">test</button >#}


{% endblock %}
{% block script %}
    {#        <script>#}
    {#            function checknum() {#}
    {#                var num = document.getElementById('id_begin_pos').value;#}
    {#                if (num) {#}
    {#                    if (!isNaN(num)) {#}
    {#                        return true;#}
    {#                    }#}
    {#                    else {#}
    {#                        alert('请输入正确的POS(数字)');#}
    {#                        return false;#}
    {#                    }#}
    {#                }#}
    {#            }#}
    {##}
    {#        </script>#}


<script>
function load() {
    var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
//loading层
{#    var index = layer.load(1, {#}
{#        shade: [0.1, '#fff'] //0.1透明度的白色背景#}
{#    });#}
}

function save_t(){
    var selected_table = $("#id_tblist").val();
    var index = $("#id_tblist").get(0).selectedIndex;
    if (selected_table !== null){
        var SelectArr = $("#id_tblist");
        console.log(SelectArr.length);
        $("#id_tblist option").each(function(i,data){
            if (i === index){
                    $(this).attr('selected','true')
            }
        })

        }
    var html = $("#id_tblist").html();
    $("#id_t").val(html);
    var be_html = $("#id_binary_end").html();
    $("#id_be").val(be_html)
}

function change_group(flag,selected_group,selected_host) {

    var host_group = selected_group;
    if (flag == -1) {
        host_group = $("#id_select_group option:selected").val();
    }
{#    console.log(selected_group,selected_host)#}
    var select_host = $("#select_host");
    $(select_host).empty();
    $(select_host).append('<option  id="select_host" value ="" selected disabled >---Select Host---</option>');

    $.ajax({
        url: '/dbmanage/mysql_admin/',
        data: {'host_group': host_group},
        success: function (ret) {
            $.each(ret ,function(key,value){

                var id = value.id;
                var text = value.ip+":"+value.port+' '+value.explain;
                if (id === selected_host){$(select_host).append('<option selected  value ="'+id+'" >'+text+'</option>')}
                else{$(select_host).append('<option  value ="'+id+'" >'+text+'</option>')}
            })
        }
    })
}


    </script>


    <script>

    change_group(-2,{{ select_group|default:0 }},{{ select_host }});
{#    change_host(-1)#}


</script>
{#    <script>#}
{#       $("#id_begin_time").jeDate({#}
{#            format:"YYYY-MM-DD hh:mm:ss",#}
{#            isinitVal:true,#}
{#           hmsLimit:false,#}
{#            isTime:true, //isClear:false,#}
{#            minDate:"2014-09-19 00:00:00",#}
{#           festival: true,#}
{#            okfun:function(val){alert(val)}#}
{#        });#}
{##}
{#     $("#id_end_time").jeDate({#}
{#            format:"YYYY-MM-DD hh:mm:ss",#}
{#            isinitVal:true,#}
{#            isTime:true, //isClear:false,#}
{#            minDate:"2014-09-19 21:05:40",#}
{#            startMin:"2014-09-19 15:40:33",#}
{#            hmsLimit:false,#}
{#         festival: true,#}
{#             choosefun: function(elem,datas){#}
{#            alert($.getLunar(datas).cWeek)}#}
{#            okfun:function(val){alert(val)}#}
{#        })#}
{#    </script>#}
<script>
function Change() {
    var instance_id = $("#select_host").val();
    var select_db = $("#id_dblist").val();
{#            alert(instance_id)#}
    $("#id_tblist").empty();
    $("#id_tblist").append('<option  value ="0" selected >----ALL----</option>');
    $.get("{% url 'get_tblist' %}",{'instance_id':instance_id,'select_db':select_db}).done(function (data) {
        for (var i =0 ; i <= data.length - 1; i++) {
            $("#id_tblist").append("<option value='" + data[i]  + "'>" + data[i] + "</option>");

        };
    });
}

var start = {
    format:"YYYY-MM-DD hh:mm:ss",
    initDate:[{YYYY:2015,MM:12,DD:23,hh:10,mm:0,ss:0},true],
    isinitVal:true,
{#    hmsLimit:false,#}
    festival: true,
    isTime:true, //isClear:false,
    startMin:'',
    minDate:'',
    maxDate:''
};
var end = {
    format:"YYYY-MM-DD hh:mm:ss",
    initDate:[{YYYY:2015,MM:12,DD:23,hh:10,mm:0,ss:0},true],
    isinitVal:true,
    hmsLimit:false,
    festival: true,
    isTime:true, //isClear:false,
    startMin:'',
    minDate:'',
    maxDate:''
};
function tip(){
//小tips
layer.msg('同上', {
  icon: 1,
  time: 2000 //2秒关闭（如果不配置，默认是3秒）
}, function(){
  //do something
});

}
 $("#id_begin_time").jeDate(start);
               $("#id_end_time").jeDate(end);


$("#id_binary_start").change(function () {


    var instance_id = $("#select_host").val();
    var binlog_start = $(this).val();
     $.get("{% url 'get_binlog_datetime' %}",{'instance_id':instance_id,'binlog_start':binlog_start}).done(function (data) {
         console.log(JSON.parse(data).start_time);
         console.log(JSON.parse(data).end_time);
         if (JSON.parse(data).message === 'success' ){

             $(this).title = JSON.parse(data).start_time + '|' +JSON.parse(data).end_time;
              layer.msg('开始日期：'+ JSON.parse(data).start_time +'<br>'+'结束日期：'+ JSON.parse(data).end_time, {
              icon: 6,
              time: 5000 //2秒关闭（如果不配置，默认是3秒）
            }, function(){
              //do something
            });
             start.minDate =  JSON.parse(data).start_time;
             start.maxDate =  JSON.parse(data).end_time;
             end.maxDate = JSON.parse(data).end_time;
               $("#id_begin_time").jeDate(start);
               $("#id_end_time").jeDate(end);


         }
     })


    var Sindex = $(this).get(0).selectedIndex;
    $("#id_binary_end option").each(function (i,data) {  //遍历所有option
        $(this).removeAttr('selected');
        if (i <= Sindex) {
{#                    console.log($(this).val());#}
            $(this).attr('disabled', 'true');

        }
            else{
             $(this).removeAttr('disabled');
                if (i === Sindex+1){
                $(this).attr('selected','true')

            }

            }
    });
    if($('#id_binary_end').val() === null){
        var SelectArr = $("#id_binary_end");
        for (var i = 0; i < SelectArr.length; i++) {
            SelectArr[i].options[0].disabled = false;
            SelectArr[i].options[0].selected = true;   }  }

})
;


$("#id_binary_end").change(function () {
    var instance_id = $("#select_host").val();
    var binlog_start = $(this).val();
     $.get("{% url 'get_binlog_datetime' %}",{'instance_id':instance_id,'binlog_start':binlog_start}).done(function (data) {
         console.log(JSON.parse(data).start_time);
         console.log(JSON.parse(data).end_time);
         if (JSON.parse(data).message === 'success' ){
              layer.msg('开始日期：'+ JSON.parse(data).start_time +'<br>'+'结束日期：'+ JSON.parse(data).end_time, {
              icon: 6,
              time: 5000 //2秒关闭（如果不配置，默认是3秒）
            }, function(){
              //do something
            });
               end.maxDate = JSON.parse(data).end_time;
               $("#id_begin_time").jeDate(start);
               $("#id_end_time").jeDate(end);

            }

     })
});



    </script>

    {#        <script>#}
    {#            $(document).ready(function(){#}
    {##}
    {#                $('#dict').click(function(){#}
    {#                    var dbtag = $('#ins').val()#}
    {#                    $.getJSON("{% url 'test' %}",{'dbtag':dbtag},function(ret){#}
    {#                        $.each(ret,function(i,n){#}
    {#                            alert(n);#}
    {#                        })#}
    {#                    })#}
    {#                })#}
    {#            });#}
    {#        </script>#}
{% endblock %}