<!DOCTYPE html>
{% load static %}
<html>
<head>
{% load static %}

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

        <div id="dialog" >
        <div class="box">
            <form class="form-horizontal" action="{% url 'config_save' %}" method="POST">
                      {% csrf_token %}
                <div class="box-body">
                  <span><b style="margin-left: 5px">[MYSQL]</b></span>
                <div class="form-group ">
                  <label for="mysql" class="col-sm-2 control-label" >mysql:</label>

                  <div class="col-sm-9">
                      <input class="form-control"class="form-control" type="text" value="{{ mysql|default:'/usr/bin/mysql' }}" id="mysql" name="mysql" placeholder='/usr/bin/mysql' >
                  </div>
                </div>
                <div class="form-group">
                  <label for="mycnf" class="col-sm-2 control-label">mycnf:</label>

                  <div class="col-sm-9">
                      <input class="form-control"type="text" value="{{ mycnf|default:'/etc/my.cnf' }}" id="mycnf" name="mycnf" placeholder='/etc/my.cnf' >
                  </div>
                </div>
                <div class="form-group" >
                  <label for="mysqladmin" class="col-sm-2 control-label">mysqladmin:</label>

                  <div class="col-sm-9" >
                    <input class="form-control"type="text" value="{{ mysqladmin|default:'/usr/bin/mysqladmin' }}" id="mysqladmin" name="mysqladmin" placeholder='/usr/bin/mysqladmin'  >
                  </div>
                </div>
{#                <div class="form-group">#}
{#                  <label for="mysql_user" class="col-sm-2 control-label">mysql_user:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ mysql_user }}" id="mysql_user" name="mysql_user" >#}
{#                  </div>#}
{#                </div>#}

{#                <div class="form-group">#}
{#                  <label for="mysql_password" class="col-sm-2 control-label">mysql_password:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ mysql_password }}" id="mysql_password" name="mysql_password" >#}
{#                  </div>#}
{#                </div>#}

                <div class="form-group">
                  <label for="mysql_socket" class="col-sm-2 control-label">mysql_socket:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ mysql_socket|default:'/tmp/mysql.sock' }}" placeholder="/tmp/mysql.sock" id="mysql_socket" name="mysql_socket" >
                  </div>
                </div>

{#                <div class="form-group">#}
{#                  <label for="mysql_host" class="col-sm-2 control-label">mysql_host:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ mysql_host }}" id="mysql_host" name="mysql_host" >#}
{#                  </div>#}
{#                </div>#}

{#                <div class="form-group">#}
{#                  <label for="mysql_port" class="col-sm-2 control-label">mysql_port:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ mysql_port }}" id="mysql_port" name="mysql_port" >#}
{#                  </div>#}
{#                </div>#}

                <div class="form-group">
                  <label for="datadir" class="col-sm-2 control-label">datadir:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ datadir|default:'/mydata/data' }}" id="datadir" name="datadir" placeholder='/mydata/data' >
                  </div>
                </div>

                <hr>
                  <p><b style="margin-left: 5px">[Backup]</b></p>
                <div class="form-group">
                  <label for="pid_dir" class="col-sm-2 control-label">pid_dir:</label>
                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ pid_dir|default:'/tmp/MySQL-AutoXtraBackupset' }}" id="pid_dir" name="pid_dir" placeholder='/tmp/MySQL-AutoXtraBackupset #Pid directory'  >
                  </div>
                </div>

                <div class="form-group">
                  <label for="tmpdir" class="col-sm-2 control-label">tmpdir:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ tmpdir|default:'/tmp/' }}" id="tmpdir" name="tmpdir" placeholder='/tmp/ #Tempdir of backup,set a large space' >
                  </div>
                </div>

                <div class="form-group">
                  <label for="pid_runtime_warning" class="col-sm-2 control-label">pid_runtime_warning:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ pid_runtime_warning|default:'2' }}" id="pid_runtime_warning"  placeholder='2 #Optional: set warning if pid of backup us running for longer than X' name="pid_runtime_warning" >
                  </div>
                </div>

                <div class="form-group">
                  <label for="backupdir" class="col-sm-2 control-label">backupdir:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ backupdir|default:'/backup/xtrabackup/' }}" id="backupdir" name="backupdir" placeholder="/backup/xtrabackup/ #">
                  </div>
                </div>
                <div class="form-group">
                  <label for="backup_tool" class="col-sm-2 control-label">backup_tool:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ backup_tool|default:'/usr/bin/xtrabacup' }}" id="backup_tool" name="backup_tool" placeholder="/usr/bin/xtrabacup" >
                  </div>
                    </div>
                <div class="form-group">
                  <label for="prepare_tool" class="col-sm-2 control-label">prepare_tool:</label>

                  <div class="col-sm-9">
                       <select class="select form-control" >
                          {% if prepare_tool is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input class="form-control {% if prepare_tool is not None %}{% else %} hidden{% endif %}" type="text" {% if prepare_tool is not None %}{% else %}disabled {% endif %}
                           value="{{ prepare_tool|default:'' }}" id="prepare_tool" name="prepare_tool"
                           placeholder="#Optional: specify different path/version of xtrabackup here for prepare">
                  </div>
                </div>

                <div class="form-group">
                  <label for="xtra_prepare" class="col-sm-2 control-label">xtra_prepare:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ xtra_prepare|default:'--apply-log-only' }}"
                           id="xtra_prepare" name="xtra_prepare" placeholder="--apply-log-only" readonly>
                  </div>
                </div>

                <div class="form-group">
                  <label for="xtra_backup" class="col-sm-2 control-label">xtra_backup:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" name="xtra_backup" >
                          {% if xtra_options == '--compact' %}
                              <option value="0" >Disabled</option>
                              <option selected value="--compact">--compact #Optional: pass additional options for backup stage</option>
                          {% else %}
                              <option selected value="0" >Disabled</option>
                              <option value="--compact" >--compact [#Optional: pass additional options for backup stage]</option>
                          {% endif %}
                      </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="xtra_prepare_options" class="col-sm-2 control-label">xtra_prepare_options:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" name="xtra_prepare_options" >
                          {% if xtra_prepare_options == '--rebuild-indexes' %}
                              <option value="0" >Disabled</option>
                              <option selected value="--compact">--rebuild-indexes [#Optional: pass additional options for prepare stage]</option>
                          {% else %}
                              <option selected value="0" >Disabled</option>
                              <option value="--compact" >--rebuild-indexes [#Optional: pass additional options for prepare stage]</option>
                          {% endif %}
                      </select>
                  </div>
                </div>


                <div class="form-group">
                  <label for="xtra_options" class="col-sm-2 control-label">xtra_options:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" name="xtra_options">
                          {% if xtra_options == '--binlog-info=ON --galera-info' %}
                          <option title="Optional: pass general additional options; it will go to both for backup and prepare"
                                  value="{{ xtra_options }}" selected>{{ xtra_options }}</option>
                          <option value="--no-version-check">--no-version-check</option>
                          {% else %}
                          <option title="Optional: pass general additional options; it will go to both for backup and prepare"
                                  value="'--binlog-info=ON --galera-info'" selected>--binlog-info=ON --galera-info</option>
                          <option value="--no-version-check" selected>--no-version-check</option>
                          {% endif %}
                      </select>
                   </div>
                </div>


                <div class="form-group">
                  <label for="archive_dir" class="col-sm-2 control-label">archive_dir:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" >
                          {% if archive_dir is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input class="form-control {% if archive_dir is None %} hidden{% endif %}" type="text" {% if archive_dir is None %}disabled hidden{% endif %}
                           value="{{ archive_dir|default:'' }}" id="archive_dir" name="archive_dir"
                           placeholder="/backup/xtrabackup/archived #Optional: set archive and rotation">
                  </div>
                </div>


                <div class="form-group">
                  <label for="full_backup_interval" class="col-sm-2 control-label">full_backup_interval:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" >
                          {% if archive_dir is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input class="form-control {% if full_backup_interval is None %} hidden{% endif %}" type="text" {% if full_backup_interval is None %}disabled{% endif %}
                           value="{{ full_backup_interval|default:'' }}" id="full_backup_interval" name="full_backup_interval"
                           placeholder="1 #full_backup_interval=1 day">
                  </div>
                </div>


                <div class="form-group">
                  <label for="max_archive_size" class="col-sm-2 control-label">max_archive_size:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" >
                          {% if archive_dir is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input class="form-control {% if max_archive_size is None %} hidden{% endif %}"
                           type="text" {% if max_archive_size is None %}disabled {% endif %}
                           value="{{ max_archive_size|default:'' }}" id="max_archive_size" name="max_archive_size"
                           placeholder="100GiB #max_archive_size=100GiB">
                  </div>
                </div>

                <div class="form-group">
                  <label for="max_archive_duration" class="col-sm-2 control-label">max_archive_duration:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" >
                          {% if archive_dir is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input class="form-control {% if max_archive_duration is None %} hidden{% endif %}"
                           type="text" {% if max_archive_duration is None %}disabled {% endif %}
                           value="{{ max_archive_duration|default:'' }}" id="max_archive_duration" name="max_archive_duration"
                           placeholder="4 Days #max_archive_duration=4 Days">
                  </div>
                </div>

                <div class="form-group">
                  <label for="partial_list" class="col-sm-2 control-label">partial_list:</label>

                  <div class="col-sm-9">
                       <select class="select form-control" >
                          {% if archive_dir is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input  class="form-control {% if partial_list is None %} hidden{% endif %}"
                            type="text" {% if partial_list is None %} disabled {% endif %}
                           value="{{ partial_list|default:'' }}" id="partial_list" name="partial_list"
                           placeholder="test.t1 test.t2 dbtest  #Optional WARNING(Enable this if you want to take partial backups).
                           Specify database names or table names.">


                  </div>
                </div>
                    <hr>
                  <p><b style="margin-left: 5px">[Compress]</b></p>
                 <div class="form-group">

                  <label for="compress_enable" class="col-sm-2 control-label">Enable:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" id="compress_enable" name="compress_enable" >
                          {% if ecrypt_enable == 1 %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disable</option>
                          {% else %}
                              <option value="1">Enable</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="compress" class="col-sm-2 control-label">compress:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ compress }}" id="compress" name="compress" placeholder="quicklz #Optional #Enable only if you want to use compression.">
                  </div>
                </div>
                <div class="form-group">
                  <label for="compress_chunk_size" class="col-sm-2 control-label">compress_chunk_size:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ compress_chunk_size }}" id="compress_chunk_size" name="compress_chunk_size" placeholder="65536">
                  </div>
                </div>
                <div class="form-group">
                  <label for="compress_threads" class="col-sm-2 control-label">compress_threads:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ compress_threads }}" id="compress_threads" name="compress_threads" placeholder="4">
                  </div>
                </div>
                <div class="form-group">
                  <label for="decompress" class="col-sm-2 control-label">decompress:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ decompress }}" id="decompress" name="decompress" placeholder="TRUE">
                  </div>
                </div>
                <div class="form-group">
                  <label for="remove_original" class="col-sm-2 control-label">remove_original:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ remove_original }}" id="remove_original" name="remove_original" placeholder="#Enable if you want to remove .qp files after decompression.(Not available yet, will be released with XB 2.3.7 and 2.4.6)" disabled>
                  </div>
                </div>
                <hr>
                <p><b style="margin-left: 5px">[Encrypt]</b></p>
                <div class="form-group">

                  <label for="Enable" class="col-sm-2 control-label">Enable:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" id="Enable" name="encrpyt_enable" >
                          {% if ecrypt_enable == 1 %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                              <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>
                  </div>
                </div>

                <div class="form-group">

                  <label for="xbcrypt" class="col-sm-2 control-label">xbcrypt:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ xbcrypt }}" placeholder="/usr/bin/xbcrypt" id="xbcrypt" name="xbcrypt"  readonly>

                  </div>
                </div>
                <div class="form-group">
                  <label for="encrypt" class="col-sm-2 control-label">encrypt:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{% if encrypt %} {{encrypt }} {% else %} AES256 {% endif %}" id="encrypt" name="encrypt" placeholder="AES256">
                  </div>
                </div>

                <div class="form-group">
                  <label for="encrypt_key" class="col-sm-2 control-label">encrypt_key:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ encrypt_key }}" id="encrypt_key" name="encrypt_key" placeholder="VVTBwgM4UhwkTTV98fhuj+D1zyWoA89K">
                  </div>
                </div>

                <div class="form-group">
                  <label for="encrypt_key_file" class="col-sm-2 control-label">encrypt_key_file:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ encrypt_key_file }}" id="encrypt_key_file" name="encrypt_key_file" placeholder="/path/to/file/with_encrypt_key">
                  </div>
                </div>

                <div class="form-group">
                  <label for="encrypt_threads" class="col-sm-2 control-label">encrypt_threads:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ encrypt_threads }}" id="encrypt_threads" name="encrypt_threads" placeholder="4">
                  </div>
                </div>

                <div class="form-group">
                  <label for="encrypt_chunk_size" class="col-sm-2 control-label">encrypt_chunk_size:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ encrypt_chunk_size }}" id="encrypt_chunk_size" name="encrypt_chunk_size" placeholder="65536">
                  </div>
                </div>

                <div class="form-group">
                  <label for="decrypt" class="col-sm-2 control-label">decrypt:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ decrypt }}" id="decrypt" name="decrypt" placeholder="AES256">
                  </div>
                </div>


                <div class="form-group">
                  <label for="remove_original" class="col-sm-2 control-label">remove_original:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ remove_original }}" id="remove_original" name="remove_original" placeholder="FALSE #Enable if you want to remove .qp files after decompression.(Not available yet, will be released with XB 2.3.7 and 2.4.6)">
                  </div>
                </div>
                    <hr>
                <p><b style="margin-left: 5px">[Xbstream]</b></p>
                <div class="form-group">

                  <label for="xbstream_enable" class="col-sm-2 control-label">Enable:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" id="xbstream_enable" name="xbstream_enable" >
                          {% if ecrypt_enable == 1 %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                              <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="log" class="col-sm-2 control-label">xbstream:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ xbstream }}" id="xbstream" name="xbstream"  placeholder="/usr/bin/xbstream #Enable this, if you want to stream your backups">
                  </div>
                </div>

                    <div class="form-group">
                  <label for="stream" class="col-sm-2 control-label">stream:</label>

                  <div class="col-sm-9">
                      <select class="select form-control" >
                          {% if stream is not None %}
                              <option value="1" selected>Enabled</option>
                              <option value="0">Disabled</option>
                          {% else %}
                                <option value="1">Enabled</option>
                              <option value="0" selected>Disabled</option>
                          {% endif %}
                      </select>

                    <input  class="form-control {% if stream is None %} hidden{% endif %}"
                            type="text" {% if stream is None %} disabled {% endif %}
                           value="{{ stream|default:'' }}" id="stream" name="stream"
                           placeholder="tar #Optional#Please enable this and disable all other options here, for tar streaming">
                  </div>
                </div>

                    <div class="form-group">
                  <label for="xbstream_options" class="col-sm-2 control-label">xbstream_options:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ xbstream_options }}" id="xbstream_options" name="xbstream_options" placeholder="-x --parallel=100" />
                  </div>
                </div>

                    <div class="form-group">
                  <label for="xbs_decrypt" class="col-sm-2 control-label">xbs_decrypt:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ xbs_decrypt }}" id="xbs_decrypt" name="xbs_decrypt" placeholder="1" >
                  </div>
                </div>


                     <div class="form-group">
                  <label for="remote_stream" class="col-sm-2 control-label">remote_stream:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ remote_stream }}" id="remote_stream" name="remote_stream" placeholder="ssh xxx.xxx.xxx.xxx # WARN, enable this, if you want to stream your backups to remote host" >
                  </div>
                </div>



{#                <p><b>Remote</b></p>#}
{#                <div class="form-group">#}
{#                  <label for="remote_conn" class="col-sm-2 control-label">remote_conn:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ remote_conn }}" id="remote_conn" name="remote_conn"  >#}
{#                  </div>#}
{#                </div>#}


{#                <div class="form-group">#}
{#                  <label for="remote_dir" class="col-sm-2 control-label">remote_dir:</label>#}
{##}
{#                  <div class="col-sm-9">#}
{#                    <input class="form-control"type="text" value="{{ remote_dir }}" id="remote_dir" name="remote_dir"  >#}
{#                  </div>#}
{#                </div>#}

                    <hr>
                    <p><b style="margin-left: 5px">[Commands]</b></p>
                <div class="form-group">
                  <label for="start_mysql_command" class="col-sm-2 control-label">start_mysql_command:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ start_mysql_command }}" id="start_mysql_command" name="start_mysql_command" placeholder="service mysql start" >
                  </div>
                </div>


                <div class="form-group">
                  <label for="stop_mysql_command" class="col-sm-2 control-label">stop_mysql_command:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ stop_mysql_command }}" id="stop_mysql_command" name="stop_mysql_command" placeholder="service mysql stop" >
                  </div>
                </div>
                    <div class="form-group">
                  <label for="chown_command" class="col-sm-2 control-label">chown_command:</label>

                  <div class="col-sm-9">
                    <input class="form-control"type="text" value="{{ chown_command }}" id="chown_command" name="chown_command" placeholder="chown -R mysql:mysql" >
                  </div>
                </div>

                </div>


              <!-- /.box-body -->
              <div class="box-footer">
                  <div class="col-md-12 text-center">
                      <button type="submit" onclick="checkSubmit()" class="btn btn-info pull-center" style="width: 120px"><b>保存(save)</b></button>
                  </div>

              </div>
              <!-- /.box-footer -->
            </form>

    </div>
    </div>
</body>
</html>